/*
On certain screen sizes it doesn't look good to have a set width, instead the columns should just share the available space.
*/
/*/////////////////////////////////////////////////////////////////////*/
@media (min-width: 575.98px) and (max-width: 991.98px) {
    #encodingSelectorDiv {
        width: 140px;
    }
}

@media (min-width: 1200px) {
    #encodingSelectorDiv {
        width: 140px;
    }
}

@media (min-width: 575.98px) and (max-width: 991.98px) {
    #lineEndingSelectorDiv {
        width: 100px;
    }
}

@media (min-width: 1200px) {
    #lineEndingSelectorDiv {
        width: 100px;
    }
}
/*/////////////////////////////////////////////////////////////////////*/